@charset "utf-8";
@use "@/assets/styles/global" as *;

.heading {
  position: relative;
  display: flex;
  justify-content: center;
  width: calc(100% - 37px);
  margin-left: 37px;

  @include mq(md) {
    width: calc(100% - 39px);
    margin-left: 39px;
  }

  @include mq(lg) {
    width: calc(100% - 116px);
    margin-left: 116px;
  }

  &::before {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    content: "";
    background-color: $color_gray;
    transform: translateY(-50%);
  }
}

.heading__text {
  position: relative;
  z-index: 1;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
  color: var(--color-primary);
  letter-spacing: 0.05em;
  background: url("/base_bg.png"), lightgray 0 -1.693px / 655.637% 1773.788% no-repeat;
  @include fz(26);
  @include font_secondary;

  @include mq(md) {
    padding-right: 23px;
    padding-left: 23px;
    @include fz(30);
  }

  @include mq(lg) {
    padding-right: 60px;
    padding-left: 60px;
    @include fz(40);
  }
}
