@charset "utf-8";
@use "@/assets/styles/global" as *;

.navigation {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 9px;
  padding-left: 9px;

  @include mq(md) {
    justify-content: center;
  }

  @include mq(md, max) {
    flex-direction: column;
    row-gap: 16px;
  }
}

$padding_inline: 25;

.navigation__inner {
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(md) {
    &:nth-child(1) {
      .navigation__link {
        &:last-child {
          border-right: 1px solid $color_black;
          @include clamp_mix("padding-right", 768, 1280, 11, $padding_inline);
        }
      }
    }

    &:nth-child(2) {
      .navigation__link {
        &:first-child {
          @include clamp_mix("padding-left", 768, 1280, 11, $padding_inline);
        }
      }
    }
  }
}

.navigation__link {
  position: relative;
  display: flex;
  gap: 3px;
  align-items: center;
  font-style: italic;
  @include font_secondary;

  @include clamp_mix("gap", 768, 1280, 5, 12);
  @include clamp_mix("font-size", 768, 1280, 16, 24);

  &:not(:last-child) {
    padding-right: 18px;
    border-right: 1px solid $color_black;

    @include mq(md, max) {
      padding-left: 18px;
    }

    @include mq(md) {
      @include clamp_mix("padding-right", 768, 1280, 11, 22);
    }
  }

  &:not(:first-child) {
    @include mq(md) {
      @include clamp_mix("padding-left", 768, 1280, 11, $padding_inline);
    }
  }

  &:last-child {
    @include mq(md, max) {
      padding-left: 18px;
      border: none;
    }
  }

  &:first-child {
    @include mq(md, max) {
      padding-left: 0;
    }
  }

  @include mq(md) {
    @include lh(19, 16);

    letter-spacing: 0.8px;
  }

  @include mq(xl) {
    @include lh(29, 24);

    letter-spacing: 1.2px;
  }

  @include hover {
    @include hover_opacity(0.7, 0.6s);

    .navigation__arrow {
      transform: translateX(5px);
    }
  }
}

.navigation__arrow {
  @include clamp_mix("width", 768, 1280, 17, 21);
  @include clamp_mix("height", 768, 1280, 17, 21);

  transition: transform 0.6s $ease_out_quint;
}
