---
import Document, { DocumentProps } from "../Document.astro"
import Header from "../Header/Header.astro"

import styles from "./AppLayout.module.scss"

const { ...props } = Astro.props
---

<Document {...props}>
  <a href="#start-of-content" class={styles.linkSkip}>Skip to main contents</a>
  <div id="app" class={styles.appLayout}>
    <Header />
    <main id="start-of-content" class={styles.appLayout__main}>
      <slot />
    </main>
  </div>
</Document>
