@charset "utf-8";
@use "@/assets/styles/global" as *;

.withBreadcrumbs {
  flex: 1;

  @include mq(md, max) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding-bottom: 15px;
  }
}

.withBreadcrumbs__breadcrumbs {
  @include mq(md, max) {
    transform: translateX(-8px);
  }

  @include mq(lg) {
    max-width: 903px;
    margin-right: auto;
    margin-left: auto;
  }
}
