@charset "utf-8";
@use "@/assets/styles/global" as *;

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.image_wrap {
  overflow: hidden;
  aspect-ratio: 640 / 635;
  border-radius: 50%;

  @include mq(md) {
    width: calc(35% - 20px / 2);
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
  }
}

.content {
  text-align: center;
}

.heading {
  @include fz(32);
}

.desc {
  margin-top: 16px;
  @include fz(16);
}

.social_Links {
  display: flex;
  justify-content: center;

  & > a {
    display: block;
    padding: 10px;
    @include hover_opacity;
  }
}
