@charset "utf-8";
@use "@/assets/styles/global" as *;

.fourPieceSlider {
  position: relative;

  @include mq(md, max) {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
  }

  @include mq(md) {
    padding-right: 32px;
    padding-left: 32px;
  }

  @include mq(lg) {
    padding-right: 0;
    padding-left: 0;
  }

  .fourPieceSlider__slider {
    position: relative;
    width: 75%;
    max-width: 716px;
    padding-bottom: 3px;
    margin-right: auto;
    margin-left: auto;

    @include mq(md) {
      width: 100%;
    }
  }

  .fourPieceSlider__slide {
    @include mq(md, max) {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    @include mq(md) {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 24px;
    }
  }

  .fourPieceSlider__linkWrap {
    @include mq(md) {
      padding: 3px;
    }
  }

  .fourPieceSlider__link {
    display: block;

    @include hover {
      .fourPieceSlider__picture {
        img {
          filter: brightness(90%);
        }
      }
    }

    &:focus-visible {
      img {
        filter: brightness(90%);
      }
    }
  }

  .fourPieceSlider__picture {
    display: block;
    aspect-ratio: 160 / 120;
    overflow: hidden;
    background-color: #e8e8eb;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center center;
      transition: all 0.4s $ease_out_quint;
    }
  }

  .fourPieceSlider__next,
  .fourPieceSlider__prev {
    position: absolute;
    top: 42%;
    padding: 10px;
    touch-action: manipulation;
    transform: translateY(-50%);
    @include hover_opacity(0.5, 0.3s);

    @include mq(md) {
      top: 35%;
    }

    @include mq(lg) {
      top: 34%;
    }
  }

  .fourPieceSlider__prev {
    left: 0;

    @include mq(md) {
      left: -8px;
    }

    @include mq(lg) {
      left: 15px;
    }
  }

  .fourPieceSlider__next {
    right: 0;

    @include mq(md) {
      right: -8px;
    }

    @include mq(lg) {
      right: 15px;
    }
  }

  .fourPieceSlider__footer {
    display: flex;
    gap: 22px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

    @include mq(md) {
      gap: 13px;
      margin-top: 12px;
    }

    @include mq(lg) {
      gap: 22px;
      margin-top: 23px;
    }
  }

  .fourPieceSlider__pagination {
    position: relative;
    bottom: 0;
    left: 0;
  }

  .fourPieceSlider__arrowLeft,
  .fourPieceSlider__arrowRight {
    width: 9px;
    height: 15px;

    @include mq(md) {
      width: 10px;
      height: 15px;
    }
  }

  .fourPieceSlider__button {
    position: relative;
    width: 33px;
    height: 33px;
    touch-action: manipulation;
    @include hover_opacity(0.6, 0.3s);

    @include mq(md) {
      width: 27px;
      height: 27px;
    }

    @include mq(lg) {
      width: 33px;
      height: 33px;
    }

    &[data-play="true"] {
      .fourPieceSlider__pause {
        display: block;
      }

      .fourPieceSlider__play {
        display: none;
      }
    }

    &[data-play="false"] {
      .fourPieceSlider__pause {
        display: none;
      }

      .fourPieceSlider__play {
        display: block;
      }
    }
  }

  .fourPieceSlider__pause,
  .fourPieceSlider__play {
    width: 100%;
    height: 100%;
  }
}
