@charset "utf-8";
@use "@/assets/styles/global" as *;

.contents {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.contents__body {
  margin-top: 28px;
  @include mq(md) {
    margin-top: 44px;
  }
  @include mq(lg) {
    margin-top: 54px;
  }
}

.contents__text {
  @include fz(14);
  @include font_weight_regular;
  @include lh(21.72,15);

  @include mq(md) {
      @include clamp_mix("font-size", 768, 1536, 14, 15);

      letter-spacing: 0.05em;
  }
  @include mq(md, max) {
    text-align: center;
  }
}

.contents__link {
  padding: 5px 0 6px;
  @include hover_opacity(0.5);

  text-decoration: underline;
}
