@charset "utf-8";
@use "@/assets/styles/global" as *;

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;

  @include mq(md) {
    padding-bottom: 80px;
  }
}

.notFound__heading {
  @include font_secondary;
  @include fz(23);

  display: flex;
  align-items: center;
  line-height: 1.21;
  letter-spacing: 1.3px;

  @include mq(md, max) {
    flex-direction: column;

    span {
      @include fz(70);
      @include lh(80, 70);

      letter-spacing: 2.828px;

      @include mq(md) {
        @include fz(40);
        @include lh(49, 40);

        letter-spacing: 2px;
      }
    }
  }

  @include mq(md) {
    gap: 10px;
    @include fz(30);
    @include lh(36, 30);

    letter-spacing: 1.5px;
  }

  @include mq(lg) {
    gap: 10px;
    @include fz(40);
    @include lh(49, 40);

    letter-spacing: 2px;
  }
}

.notFound__text {
  @include font_secondary;

  margin-top: 20px;
  @include fz(16);
  @include lh(19, 16);

  @include mq(md) {
    @include fz(20);

    letter-spacing: 1px;
  }

  @include mq(lg) {
    margin-top: 63px;
    @include fz(32);
    @include lh(39, 32);

    letter-spacing: 1.6px;
  }
}

.notFound__link {
  position: relative;
  padding-bottom: 6px;
  margin-top: 64px;
  color: var(--color-primary);
  letter-spacing: 0.8px;
  @include fz(16);
  @include lh(19.5, 16);
  @include font_secondary;

  @include mq(md, max) {
    margin-top: 65px;
    letter-spacing: 0.8px;
  }

  @include mq(md) {
    margin-top: 71px;
  }

  @include mq(lg) {
    margin-top: 98px;
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background-color: $color_primary_tokyo;
  }

  .notFound__linkInner {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  .notFound__icon {
    display: inline-block;
    width: 26px;
    height: 26px;

    &::before {
      width: 100%;
      height: 100%;
      content: "";
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2227%22%20height%3D%2228%22%20viewBox%3D%220%200%2027%2028%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M0.430017%2013.92C0.430017%2021.1468%206.27317%2026.99%2013.5%2026.99C20.7269%2026.99%2026.57%2021.1468%2026.57%2013.92C26.57%206.69316%2020.7269%200.85%2013.5%200.85C6.27317%200.85%200.430017%206.69316%200.430017%2013.92ZM2.25002%2013.92C2.25002%207.69484%207.27486%202.67%2013.5%202.67C19.7252%202.67%2024.75%207.69484%2024.75%2013.92C24.75%2020.1452%2019.7252%2025.17%2013.5%2025.17C7.27486%2025.17%202.25002%2020.1452%202.25002%2013.92Z%22%20fill%3D%22%232F8D2F%22%20stroke%3D%22%232F8D2F%22%20stroke-width%3D%220.3%22%2F%3E%3Cpath%20d%3D%22M13.6223%2021.3979L13.7284%2021.504L13.8344%2021.3979L14.8984%2020.3339L15.0045%2020.2279L14.8984%2020.1218L8.69652%2013.9199L14.8984%207.71792L15.0045%207.61185L14.8984%207.50579L13.8344%206.44179L13.7284%206.33572L13.6223%206.44179L6.25032%2013.8138L6.14425%2013.9199L6.25032%2014.0259L13.6223%2021.3979Z%22%20fill%3D%22%232F8D2F%22%20stroke%3D%22%232F8D2F%22%20stroke-width%3D%220.3%22%2F%3E%3Cpath%20d%3D%22M7.41986%2013.0102H7.26986V13.1602V14.6802V14.8302H7.41986H20.3399H20.4899V14.6802V13.1602V13.0102H20.3399H7.41986Z%22%20fill%3D%22%232F8D2F%22%20stroke%3D%22%232F8D2F%22%20stroke-width%3D%220.3%22%2F%3E%3C%2Fsvg%3E");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }

  @include hover_opacity(0.7);
}
