@charset "utf-8";
@use "@/assets/styles/global" as *;

.introduction__desc {
  width: 100%;
  max-width: 897px;
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
  word-break: break-word;
  @include fz(14);
  @include lh(21, 14);

  @include mq(md, max) {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }

  @include mq(md) {
    text-align: center;
    @include lh(23.8, 14);
  }

  @include mq(lg) {
    margin-top: 23px;
    @include fz(16);
    @include lh(27.2, 16);

    letter-spacing: 0.05em;
  }
}

.introduction__areas {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 24px;

  @include mq(md, max) {
    flex-direction: column;
    row-gap: 15px;
    column-gap: 26px;
  }

  @include mq(lg) {
    column-gap: 40px;
    margin-top: 32px;
  }

  .introduction__link {
    gap: 8px;
    min-width: 254px;
    min-height: 34px;
    padding-right: 24px;
    padding-left: 24px;
    letter-spacing: 0.05em;

    @include mq(lg) {
      min-width: auto;
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}
