---
import FourPieceSlider from "@/components/Sliders/FourPieceSlider/FourPieceSlider.astro"
import spotsData from "@/data/spots.json"
import Contents from "@/features/WebsiteMap/Contents/Contents.astro"
import WebsiteMap from "@/features/WebsiteMap/WebsiteMap/WebsiteMap.astro"
import { useFormatAllSpots } from "@/hooks"
import AppLayout from "@/layouts/AppLayout/AppLayout.astro"
import Container from "@/layouts/Container/Container.astro"
import LayoutWithBreadcrumbs from "@/layouts/LayoutWithBreadcrumbs/LayoutWithBreadcrumbs.astro"

const meta = {
  title: "Website Map",
  description: "",
}

const { categories } = useFormatAllSpots(spotsData)
---

<AppLayout meta={meta} theme={"tokyo"}>
  <LayoutWithBreadcrumbs page={"websiteMap"} className={"md:pt-[60px] lg:pt-[64px]"} size={"xl"}>
    <div class="md:pb-[120px] lg:pb-[42px]">
      <Container size={"lg"}>
        <Contents className={"max-md:pb-[68px] mt-[104px] md:mt-[52px]"}>
          <div class="mt-[54px]">
            <WebsiteMap categories={categories} />
          </div>
        </Contents>
      </Container>
      <div class="max-lg:hidden md:mt-[188px]">
        <Container size={"md"}>
          <FourPieceSlider />
        </Container>
      </div>
    </div>
  </LayoutWithBreadcrumbs>
</AppLayout>
