@charset "utf-8";
@use "@/assets/styles/global" as *;

.introduction__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include mq(md, max) {
    flex-direction: column;
  }
}

.introduction__heading {
  @include mq(md, max) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.introduction__body {
  @include mq(md) {
    width: 58%;
  }

  @include mq(lg) {
    top: 51%;
    width: 55%;
  }
}

.introduction__desc {
  margin-top: 27px;
  @include fz(14);
  @include lh(21, 14);

  @include mq(md) {
    margin-top: 16px;
    @include fz(14);
    @include lh(24, 14);
  }

  @include mq(lg) {
    margin-top: 24px;
    @include fz(16);
    @include lh(27.2, 16);

    letter-spacing: 0.8px;
  }
}

.introduction__imgWrap {
  display: block;
  overflow: hidden;

  @include mq(md, max) {
    margin-top: 30px;
    transform: translateX(-12px) scale(1.04);
  }

  @include mq(md) {
    position: absolute;
    top: 50%;
    right: 0;
    width: 55%;
    padding-top: 19px;
    transform: translate(14%, -46%);
  }

  @include mq(lg) {
    padding-top: 30px;
    transform: translate(0, -50%);
    @include clamp_mix("width", 1024, 1538, 620, 724);
  }

  @include mq(xl) {
    transform: translate(9vw, -50%);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
