@charset "utf-8";
@use "@/assets/styles/global" as *;

.sliderWithFilter__wrapper {
  margin-top: 24px;
  transition: opacity 0.8s $ease_out_quint, transform 0.6s $ease_out_quint;
  transition-delay: 0.15s;

  &[data-hidden="true"] {
    pointer-events: none;
    opacity: 0;
    transform: translateY(20px);
    @include visually_hidden;
  }

  &[data-hidden="false"] {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0);
  }
}

.slider__slide {
  &:global(.swiper-slide) {
    article {
      transition: transform 0.6s;
      transform: scale(0.9);
    }
  }

  &:global(.swiper-slide-active) {
    article {
      z-index: 1;
      transform: scale(1);
    }
  }
}

.slider__footer {
  padding-right: 52px;
  padding-left: 52px;
  margin-right: auto;
  margin-left: auto;
  @include clamp_mix("margin-top", 392, 767, 14, 44);
}

.slider__footerInner {
  display: flex;
  justify-content: space-between;
  margin-top: 9px;
}

.slider__buttons {
  display: flex;
  gap: 24px;
  align-items: center;
}

.slider__prev,
.slider__next {
  touch-action: manipulation;

  svg {
    width: 36px;
    height: 36px;

    circle {
      stroke: var(--color-primary);
    }

    path {
      fill: var(--color-primary);
    }
  }

  &:global(.swiper-button-disabled) {
    cursor: no-drop;

    svg {
      circle {
        stroke: #b4b4b7;
      }

      path {
        fill: #b4b4b7;
      }
    }
  }
}

.slider__pagination {
  @include font_secondary;
  @include fz(16);

  display: flex;
  gap: 0.3em;
  align-items: center;
  justify-content: flex-start;
  letter-spacing: 0.8px;
}

.slider {
  .slider__scrollbar {
    position: relative !important;
    touch-action: manipulation;
    cursor: pointer;
    background-color: #b4b4b7;

    :global(.swiper-scrollbar-drag) {
      background-color: var(--color-primary);
    }
  }
}
