@charset "utf-8";
@use "@/assets/styles/global" as *;

.section__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 32px;
}

.section__itemTitle {
  @include fz(22);
  @include lh(33, 22);
  @include font_secondary;

  letter-spacing: 0.05em;

  @include mq(md) {
    @include fz(20);
    @include lh(24, 20);
  }

  @include mq(lg) {
    @include fz(22);
    @include lh(26, 22);
  }

  & + .section__itemDesc {
    margin-top: 16px;
  }
}

.section__itemDesc {
  @include fz(14);
  @include lh(21, 14);

  @include mq(md) {
    letter-spacing: 0.05em;
  }

  @include mq(lg) {
    @include fz(16);
    @include lh(24, 16);
  }
}
