@charset "utf-8";
@use "@/assets/styles/global" as *;

$gapMd: 24px;
$gapLg: 24px;

.information {
  padding-top: 42px;
  padding-bottom: 40px;
  border-top: 1px solid $color_gray;
  border-bottom: 1px solid $color_gray;

  @include mq(md) {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }

  @include mq(lg) {
    width: 100%;
    padding-top: 46px;
    padding-bottom: 47px;
    border-top: 2px solid $color_gray;
    border-bottom: 2px solid $color_gray;
  }
}

.information__inner {
  @include mq(md) {
    width: 100%;
    max-width: 459px;
    margin-right: auto;
    margin-left: auto;
  }

  @include mq(lg) {
    max-width: 612px;
  }
}

.information__heading {
  @include fz(24);
  @include lh(29.26, 24);
  @include font_secondary;

  @include mq(md, max) {
    text-align: center;
  }

  @include mq(md) {
    @include fz(23);
    @include lh(28, 23);

    letter-spacing: 0.05em;
  }

  @include mq(lg) {
    @include fz(32);
    @include lh(39, 32);
  }
}

.information__body {
  margin-top: 24px;

  @include mq(md) {
    display: flex;
    gap: $gapMd;
    margin-top: 18px;
  }

  @include mq(lg) {
    margin-top: 25px;
  }
}

.information__map {
  position: relative;
  width: 100%;
  aspect-ratio: 343 / 203;

  @include mq(md) {
    width: calc(59% - $gapMd / 2);
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.information__content {
  @include mq(md, max) {
    margin-top: 24px;
  }

  @include mq(md) {
    width: calc(42% - $gapMd / 2);
  }
}

.information__title {
  @include fz(18);
  @include lh(21.94, 18);
  @include font_secondary;

  font-weight: 600;
  letter-spacing: 0.05em;

  @include mq(md) {
    @include fz(16);
    @include lh(24, 16);
  }

  @include mq(lg) {
    @include fz(20);
    @include lh(24.3, 20);
  }
}

.information__desc {
  margin-top: 17px;
  @include fz(14);
  @include lh(21, 14);

  letter-spacing: 0.05em;

  @include mq(md) {
    margin-top: 14px;
  }

  @include mq(lg) {
    margin-top: 16px;
    @include fz(16);
    @include lh(27.2, 16);
  }
}

.information__link {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  width: fit-content;
  margin-top: 24px;
  font-weight: 600;
  color: var(--color-primary);
  letter-spacing: 0.05em;
  @include fz(16);
  @include lh(19.5, 16);
  @include font_secondary;
  @include hover_opacity;

  @include mq(md, max) {
    padding-bottom: 4px;
  }

  @include mq(md) {
    margin-top: 10px;
    @include fz(14);

    line-height: 1.7;
  }

  @include mq(lg) {
    padding-bottom: 5px;
    margin-top: 18px;
    font-weight: 700;
    @include fz(16);
    @include lh(19.5, 16);
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background-color: var(--color-primary);

    @include mq(lg) {
      height: 2px;
    }
  }

  .information__linkIcon {
    width: 14px;
    height: 14px;

    @include mq(md, max) {
      transform: translate(-2px, -1px);
    }

    @include mq(md) {
      width: 14px;
      height: 14px;
    }

    @include mq(lg) {
      transform: translate(-2px, -1px);
    }

    path {
      fill: var(--color-primary);
    }
  }
}
