@charset "utf-8";
@use "@/assets/styles/global" as *;

.sectionChild {
  & + .sectionChild {
        margin-top: 10px;
    @include mq(md) {
    margin-top: 12px;
    }
  }
}

.sectionChild__heading {
    @include fz(16);

    letter-spacing: 0.05em;
    @include mq(md) {
      @include fz(20);
    }
}

.sectionChild__inner {
  padding-left: 18px;
  margin-top: 8px;
  @include mq(md) {
   padding-left: 14px;
  }
  @include mq(lg) {
    padding-left: 18px;
    margin-top: 13px;
  }
}
