@charset "utf-8";
@use "@/assets/styles/global" as *;

.index {
  width: 100%;
  max-width: 898px;
  margin-right: auto;
  margin-left: auto;
}

.index__spot {
  @include mq(md, max) {
    width: 100vw;
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
  }
}

.index__videos {
  width: 100vw;
  padding-top: 33px;
  padding-bottom: 66px;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  background-color: $color_white;

  @include mq(md) {
    padding-top: 47px;
    padding-bottom: 59px;
  }

  @include mq(lg) {
    padding-top: 79px;
    padding-bottom: 90px;
  }
}

.index__banners {
  padding-top: 66px;
  padding-bottom: 80px;

  @include mq(md) {
    padding-top: 80px;
    padding-bottom: 48px;
  }

  @include mq(lg) {
    padding-top: 115px;
    padding-bottom: 95px;
  }
}
