---
import Access, { AccessProps } from "./Access/Access.astro"
import Introduction, { IntroductionProps } from "./Introduction/Introduction.astro"
import Sliders from "./Sliders/Sliders.astro"
import Spots, { SpotsProps } from "./Spots/Spots.astro"
import TripIdea, { TripIdeaProps } from "./TripIdea/TripIdea.astro"

import Heading from "@/components/Heading/Heading.astro"
import Container from "@/layouts/Container/Container.astro"
import type { PropsWithClassName } from "@/types"

type Props = PropsWithClassName & {
  title: string
  access: AccessProps
  introduction: IntroductionProps
  tripIdea: TripIdeaProps
  spotCards: SpotsProps["cards"]
  categories: SpotsProps["categories"]
}

const { className, title, access, introduction, tripIdea, spotCards, categories } = Astro.props
---

<div class={className}>
  <Container size={"md"}>
    <Heading tag={"h1"} className={"justify-center u-uppercase lg:tracking-normal"}>{title}</Heading>
    <Introduction {...introduction} className={"mt-[24px]"} />
    <Access {...access} className={"mt-[80px]"} />
    <TripIdea {...tripIdea} className={"mt-[80px] lg:mt-[75px]"} />
    <Spots cards={spotCards} categories={categories} className={"mt-[80px] js-trigger"} />
  </Container>
  <Sliders className={"mt-[80px] md:mt-[115px] lg:mt-[33px]"} />
</div>
