@charset "utf-8";
@use "@/assets/styles/global" as *;

.mainVisual {
  position: relative;
  @include mq(md) {
    min-height: 320px;
  }

  &::after {
    display: block;
    clear: both;
    content: "";
  }

  &::before {
    float: left;
    padding-top: 51.8%;
    content: "";
    @include mq(md) {
      padding-top: 136.8%;
    }
  }

  & > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @include mq(md) {
    &::after {
      display: block;
      clear: both;
      content: "";
    }

    &::before {
      float: left;
      padding-top: 42.5%;
      content: "";
    }

    & > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .mainVisual__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12.8vw 8.53vw 21.33vw;

    @include mq(md) {
      padding: 6.4% 9.2%;
    }
  }

  .mainVisual__assets {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .mainVisual__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::before {
      display: block;
      width: 100%;
      height: 100%;
      pointer-events: none;
      content: "";
      background-color: #e8e8eb;
    }
  }

  .mainVisual__backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    object-fit: cover;
    object-position: center bottom;
  }

  .mainVisual__button {
    position: absolute;
    right: 13px;
    bottom: 13px;
    z-index: 1;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    transition: filter 0.3s $ease_out_quint;

    @include mq(md) {
      background-color: $color_white;
      border-radius: 50%;
    }

    svg {
      width: 32px;
      height: 32px;

      @include mq(md, max) {
        rect {
          fill: $color_white;
        }

        circle,
        path {
          stroke: $color_white;
        }
      }

      &:nth-of-type(2) {
        @include mq(md, max) {
          path {
            fill: $color_white;
          }
        }
      }
    }

    @include mq(md) {
      right: 18px;
      bottom: 11px;
    }

    @include mq(lg) {
      right: 32px;
      bottom: 23px;

      svg {
        width: 32px;
        height: 32px;
      }
    }

    @include hover {
      filter: brightness(80%);
    }
  }

  .mainVisual__contents {
    position: absolute;
    top: 52%;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1384px;
    padding-right: 18px;
    padding-left: 18px;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(-50%);

    @include mq(md) {
      top: 60%;
      padding-right: 34px;
      padding-left: 34px;
      @include clamp_mix("gap", 768, 1536, 37, 60);
    }

    @include mq(lg) {
      top: 52%;
      padding-right: 40px;
      padding-left: 40px;
    }
  }

  .mainVisual__heading {
    max-width: 100%;
    overflow: hidden;
    @include mq(md) {
      transform: translateY(7px);
    }
  }

  .mainVisual__headingSvg {
    width: 314px;
    height: 63px;
    @include mq(md) {
      @include clamp_mix("width", 768, 1530, 461, 631);
      @include clamp_mix("height", 768, 1530, 92, 125);
    }
  }

  .mainVisual__videoTrigger {
    overflow: hidden;
  }
}

@media (max-height: 400px) {
  .mainVisual._top {
    min-height: 500px;
  }
}
