@charset "utf-8";
@use "@/assets/styles/global" as *;

.navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__inner {
  position: relative;
}

.navigation__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @include mq(md, max) {
    @include clamp_mix("max-width", 392, 767, 350, 385);
  }

  @include mq(md) {
    max-width: 503px;
  }

  @include mq(lg) {
    max-width: 100%;
  }
}

.navigation__item {
  &:nth-child(n + 5) {
    .navigation__button {
      @include mq(lg, max) {
        padding-top: 12px;
      }
    }
  }

  .navigation__button {
    position: relative;
    padding-right: 16px;
    padding-bottom: 5px;
    padding-bottom: 7px;
    padding-left: 16px;
    font-weight: 600;
    color: $color_gray;
    touch-action: manipulation;
    transition: color 0.3s $ease_out_quint;
    @include clamp_mix("font-size", 392, 1024, 20, 22);
    @include font_secondary;

    &[aria-selected="true"],
    &[data-current="true"] {
      color: var(--color-primary);
    }

    @include mq(md) {
      padding-right: 20px;
      padding-left: 20px;
      letter-spacing: 0.05em;
    }

    @include mq(lg) {
      padding-right: 29px;
      padding-left: 29px;
    }

    @include hover {
      color: var(--color-primary);
    }
  }
}

.navigation__slideLine {
  position: absolute;
  bottom: 5px;
  left: 0;
  height: 3px;
  pointer-events: none;
  background-color: var(--color-primary);
  transition: width 0.6s $ease_out_quint, transform 0.6s $ease_out_quint, opacity 0.2s $ease_out_quint;

  &[data-index="1"] {
    bottom: 49px;
    opacity: 0;
  }

  &[data-index="2"] {
    bottom: 5px;
  }
}

.tabFields__contents {
  @include mq(md, max) {
    max-width: 600px;
    margin-top: 19px;
    margin-right: auto;
    margin-left: auto;
  }

  & > [role="tabpanel"] {
    transition: opacity 0.8s $ease_out_quint, transform 0.6s $ease_out_quint;
    transition-delay: 0.15s;

    &[aria-hidden="false"] {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }

    &[aria-hidden="true"] {
      visibility: hidden;
      opacity: 0;
      transform: translateY(20px);
      @include visually_hidden;
    }
  }
}

.tabFields__buttons {
  display: flex;
  gap: 51px;
  align-items: center;
  justify-content: center;
  margin-top: 2px;

  @include mq(md) {
    gap: 36px;
    margin-top: 19px;
  }

  @include mq(lg) {
    gap: 54px;
    margin-top: 29px;
  }
}

.tabFields__prev,
.tabFields__next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: var(--color-primary);
  border-radius: 50%;

  &[href="#route-top"] {
    transition: filter 0.3s $ease_out_quint;

    @include hover {
      filter: brightness(80%);
    }
  }

  &:not([href="#route-top"]) {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
  }

  svg {
    width: 22px;
    height: 22px;
    @include mq(lg) {
      width: 22px;
      height: 22px;
    }
  }
}

.navigation__wrap {
  @include mq(lg) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
