---
import styles from "./Instructions.module.scss"

import type { PropsWithClassName } from "@/types"


type Props = PropsWithClassName

const { className } = Astro.props
---

<div class:list={[styles.instructions, className]}>
  <slot />
</div>
