@charset "utf-8";
@use "@/assets/styles/global" as *;

.instructions {
  padding: 35px 17px;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);

  @include fz(14);
  @include lh(21, 14);

  @include mq(md, max) {
    margin-right: 7px;
    margin-left: 7px;
  }

  @include mq(md) {
    max-width: 583px;
    padding-top: 27px;
    padding-bottom: 27px;
    margin-right: auto;
    margin-left: auto;
    @include clamp_mix("padding-left", 768, 1538, 41, 91);
    @include clamp_mix("padding-right", 768, 1538, 41, 91);

    @include lh(23.8, 14);
  }

  @include mq(lg) {
    max-width: 100%;
    padding-top: 27px;
    padding-bottom: 25px;
    @include fz(16);
    @include lh(27.2, 16);

    letter-spacing: 0.05em;
  }
}
