@charset "utf-8";
@use "@/assets/styles/global" as *;

.drawer__nav {
  position: fixed;
  top: $header_height_sp;
  right: 0;
  width: 60.5%;
  height: 100vh;
  height: 100lvh;
  height: 100dvh;
  padding: 71px 40px 33px;
  overflow: auto;
  pointer-events: none;
  background-color: $color_white;
  box-shadow: -2px 5px 5px 0 rgb(0 0 0 / 25%);
  transition: transform 0.6s $ease_out_quint;
  transform: translateX(101%);

  &[aria-hidden="false"] {
    pointer-events: auto;
    transform: translate(0);
  }
}

.drawer__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.drawer__item {
  opacity: 0;
  transition: transform 0.6s $ease_out_quint, opacity 0.6s $ease_out_quint;
  transform: translateX(30%);
  @for $i from 1 through 10 {
    &:nth-of-type(#{$i}) {
      transition-delay: $i * 0.05s;
    }
  }

  &:global(.is-active) {
    opacity: 1;
    transform: translateX(0);
  }
}

.drawer__link {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 1px;
  @include fz(20);
  @include lh(24, 20);
  @include font_secondary;

  &[data-current="true"] {
    position: relative;
    color: $color_primary_tokyo;

    &::after {
      position: absolute;
      bottom: 7px;
      left: 0;
      width: 100%;
      height: 3px;
      content: "";
      background-color: $color_primary_tokyo;
    }
  }
}

.drawer__buttonClose {
  position: absolute;
  top: 12px;
  left: 8px;
  width: 34px;
  height: 34px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2234%22%20height%3D%2235%22%20viewBox%3D%220%200%2034%2035%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20id%3D%22system-uicons%3Across%22%3E%3Cpath%20id%3D%22Vector%22%20d%3D%22M25.0953%2025.1709L8.90479%208.98047M25.0953%208.98047L8.90479%2025.1709%22%20stroke%3D%22%23414143%22%20stroke-width%3D%221.61905%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.drawer__button {
  display: grid;
  place-items: center;
  width: 32px;
  height: 32px;
  touch-action: manipulation;

  .drawer__buttonLine {
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    background-color: $color_black;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      display: block;
      width: 20px;
      height: 2px;
      content: "";
      background-color: $color_black;
    }

    &::before {
      top: -6px;
    }

    &::after {
      bottom: -6px;
    }
  }
}
