@charset "utf-8";
@use "@/assets/styles/global" as *;

.websitePolicy {
  padding-bottom: 116px;

  @include mq(md) {
    padding-bottom: 140px;
  }

  @include mq(lg) {
    padding-bottom: 280px;
  }
}

.websitePolicy__desc {
  margin-top: 40px;
  @include fz(14);
  @include lh(21, 14);

  @include mq(md) {
    letter-spacing: 0.05em;
  }

  @include mq(lg) {
    @include fz(16);
    @include lh(24, 16);
  }
}
