@charset "utf-8";
@use "@/assets/styles/global" as *;

.access {
  width: 100%;
}

.access__inner {
  position: relative;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 37px;

  @include mq(md) {
    padding-left: 39px;
  }

  @include mq(lg) {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 116px;
  }
}

.access__body {
  padding: 16px 23px 16px 12px;
  border: 1px solid $color_gray;

  @include mq(md) {
    padding: 17px 24px 21px;
  }
}

.access__heading {
  display: flex;
  gap: 7px;
  align-items: center;
  padding-bottom: 4px;
  font-weight: 600;
  border-bottom: 1px solid $color_gray;
  @include fz(20);
  @include lh(24, 20);
  @include font_secondary;

  @include mq(md) {
    padding-bottom: 7px;
    letter-spacing: 0.05em;
  }

  @include mq(lg) {
    padding-bottom: 12px;
    @include fz(24);
    @include lh(29, 24);

    font-weight: 600;
    letter-spacing: 0.05em;
  }

  .access__headingIcon {
    @include mq(md) {
      width: 15px;
      height: 19px;
    }
  }
}

.access__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 18px;

  @include mq(lg) {
    margin-top: 16px;
  }
}

.access__item {
  @include mq(md) {
    display: flex;
    gap: 8px;
    align-items: flex-start;
  }
}

.access__type {
  @include fz(14);
  @include lh(18, 14);

  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 600;

  @include mq(md) {
    max-width: 191px;
  }

  svg {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
  }
}

.access__desc {
  @include fz(12);
  @include lh(17.36, 12);

  @include mq(md, max) {
    padding-left: 28px;
    margin-top: 4px;
  }

  @include mq(md) {
    @include fz(14);
    @include lh(20, 14);
  }
}

.routeLine {
  position: absolute;
  top: 0;
  left: 0;
  width: 37px;
  height: 100%;
  padding-top: 50px;

  @include mq(md) {
    width: 39px;
    padding-top: 59px;
  }

  @include mq(lg) {
    width: 116px;
  }

  &::before {
    position: absolute;
    left: 12px;
    z-index: -1;
    width: 1px;
    height: 100%;
    content: "";
    background-color: $color_gray;
    transform: translateX(-50%);

    @include mq(md) {
      left: 9px;
    }

    @include mq(lg) {
      left: 12px;
    }
  }

  &[data-line-placement="both"] {
    &::before {
      top: 0;
      bottom: 0;
      height: 100%;
    }
  }

  &[data-line-placement="top"] {
    &::before {
      top: 0;
      height: 50px;

      @include mq(md) {
        height: 59px;
      }

      @include mq(lg) {
        height: 50%;
      }
    }
  }

  &[data-line-placement="bottom"] {
    &::before {
      bottom: 0;
      height: calc(100% - 50px);

      @include mq(md) {
        height: calc(100% - 59px);
      }

      @include mq(lg) {
        height: 50%;
      }
    }
  }

  .routeLine__circle {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    background-color: var(--color-primary);
    border: 1px solid $color_gray;
    border-radius: 50%;

    @include mq(md) {
      width: 18px;
      height: 18px;
    }

    @include mq(lg) {
      position: absolute;
      top: 50%;
      width: 24px;
      height: 24px;
      transform: translateY(-50%);
    }

    &::before {
      position: absolute;
      top: 50%;
      right: 0;
      width: 14px;
      height: 1px;
      content: "";
      background-color: $color_gray;
      transform: translate(100%, -50%);

      @include mq(md) {
        width: 22px;
      }

      @include mq(lg) {
        width: 93px;
      }
    }
  }
}
