@charset "utf-8";
@use "@/assets/styles/global" as *;

.header {
  margin: 0;
  padding: 0 1em;
  background: $color_white;
  z-index: var(--zindex-header);
  box-shadow: 0 2px 8px rgba($color_black, 5%);
}

h2 {
  margin: 0;
  font-size: 1em;
}

h2 a,
h2 a[data-current="true"] {
  text-decoration: none;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  padding: 1em 0.5em;
  color: $color_black;
  border-bottom: 4px solid transparent;
  text-decoration: none;
}

.nav a[data-current="true"] {
  text-decoration: none;
  border-color: $color_primary;
}

.social_links,
.social_links a {
  display: flex;
}
