---
import Section from "../Section/Section.astro"

import styles from "./PrivacyPolicy.module.scss"

import Heading from "@/components/Heading/Heading.astro"
import Container from "@/layouts/Container/Container.astro"
import type { PropsWithClassName } from "@/types"


const contents = [
  {
    title: "Privacy Policy",
    contents: [
      {
        desc: "The Bureau will endeavor to protect personal information based on the following policy, recognizing it as an important responsibility.",
      },
      {
        title: "Restrictions on Collection",
        desc: "When collecting personal information, the Bureau will clearly state the purpose for which the information is to be handled, and will collect personal information within the scope necessary to achieve that purpose, in a lawful and fair manner.",
      },
      {
        title: "Appropriate Management",
        desc: "The Bureau will take necessary measures to manage personal information appropriately to prevent leaks, loss, or damage.",
      },
      {
        title: "Supervision of Contractors",
        desc: "When the Bureau entrusts the handling of personal information to a third party, the Bureau will supervise the third party as necessary for the protection of personal information.",
      },
      {
        title: "Limitation of Use",
        desc: "The Bureau will not use personal information for purposes beyond the scope of administrative work involving personal information.",
      },
      {
        title: "Provision to Third Parties",
        desc: "The Bureau will not disclose or provide personal information to third parties except in cases where the individual in question has consented or where required by law.",
      },
      {
        title: "Disclosure, Correction, and Use Suspension Requests",
        desc: "The Bureau will respond promptly to requests from the parties concerned to disclose, correct, or suspend the use of their personal information.",
      },
      {
        title: "Employee Education",
        desc: "The Bureau will provide education and awareness-raising activities on the protection of personal information to all employees.",
      },
      {
        title: "Compliance with Laws and Regulations",
        desc: "The Bureau complies with laws and regulations regarding the handling of personal information and strives for continuous improvement of the measures specified in this policy.",
      },
      {
        title: "Inquiries",
        desc: "General Affairs Section, General Affairs Department, Tokyo Convention & Visitors Bureau",
      },
    ],
  },
  {
    title: "Handling of Personal Information on This Website",
    contents: [
      {
        title: "Defining Personal Information",
        desc: "Personal information refers to information that can identify a specific individual, such as address, name, telephone number, email address, etc., provided to the Bureau through this website.",
      },
      {
        title: "Scope of This Policy",
        desc: "This policy applies only to this site and does not apply to other sites linked to this website.The handling of information on linked sites is the responsibility of the respective organizations.",
      },
      {
        title: "Collection of Personal Information",
        desc: "When collecting personal information through this website, the Bureau will generally require the user to provide (register) the information of their own volition.When collecting personal information, we will clearly state the purpose for which said information is collected.The collection of personal information will be conducted within the scope necessary to achieve the stated purpose.",
      },
      {
        title: "Limitation on Use of Personal Information",
        desc: "Personal information provided (registered) by users will be used within the scope of the stated purpose of collection.Provided personal information will not be used beyond the purpose of collection, except as required by law.However, statistical information on user attributes, etc., may be disclosed, provided that it does not contain any personal information.",
      },
      {
        title: "Purpose of Use of Personal Information",
        desc: "The collected personal information will be used for the following purposes:<br />TCVB will ensure the security of the collection, use and management of personal information and will use personal information to respond to requests and inquiries from users.",
      },
      {
        title: "Management of Personal Information",
        desc: "We will strictly manage the personal information collected through this website and take appropriate measures to prevent leakage, misuse, tampering, and other violations.In addition, while we may entrust the operation of this site to third parties, we will ensure that they take appropriate measures to safeguard the information.",
      },
      {
        title: "Use of User Information not Containing Personal Information",
        desc: 'Information<br />This site automatically collects information such as Internet domain names, IP addresses, and information regarding the browsing environment (hereinafter referred to as "user information").The collected user information is limited to the purpose of improving the usability of this site and will be used only within that scope.However, statistically processed information about access to this website, browsing environments, and other information may be disclosed.<br />*Use of Google AnalyticsOn this website, Google Analytics is used to understand usage patterns and improve content. Google Analytics is used to collect anonymous traffic data from users of this website, but this data is not used for any purposes other than improving this website.For more information on the terms of use and privacy policy of Google Analytics, please visit the website at https://marketingplatform.google.com/intl/en_uk/about/analytics/.<br />This website may collect and use information (which does not identify individuals) regarding the usage of this website, such as page browsing history and search history, in order to improve the content of this website and to conduct statistical research on browsing conditions for internal market research purposes.',
      },
    ],
  },
]

type Props = PropsWithClassName

const { className } = Astro.props
---

<div class:list={[styles.privacyPolicy, className]}>
  <Container size={"xl"}>
    <Heading tag={"h1"} size={"lg"} className={"max-md:justify-center lg:justify-center"}>Website Policy</Heading>
    {contents.map((content) => <Section className={"mt-[40px]"} {...content} />)}
  </Container>
</div>
