@charset "utf-8";
@use "@/assets/styles/global" as *;

.privacyPolicy {
  padding-bottom: 116px;

  @include mq(md) {
    padding-bottom: 140px;
  }

  @include mq(lg) {
    padding-bottom: 280px;
  }
}
