@charset "utf-8";
@use "@/assets/styles/global" as *;

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.videoModal__modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  height: 100lvh;
  height: 100dvh;
  padding: 40px 24px;
  overflow: auto;
  overscroll-behavior-y: none;

  @include mq(md) {
    padding: 64px;
  }

  &:global(.is-open) {
    display: flex;
  }

  &[aria-hidden="true"] {
    animation: fade-out 0.3s $ease_out_quint;
  }

  &[aria-hidden="false"] {
    animation: fade-in 0.3s $ease_out_quint;
  }
}

.videoModal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(38 38 38 / 74%);
}

.videoModal__wrapper {
  position: relative;
  width: 100%;
  max-width: 1185px;
  padding: 40px 36px;
  background-color: $color_white;

  @include mq(md) {
    padding: 55px 20px 39px;
  }

  @include mq(lg) {
    padding: 91px 20px 112px;
  }
}

.videoModal__close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 24px;
  height: 24px;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2249%22%20height%3D%2247%22%20viewBox%3D%220%200%2049%2047%22%20fill%3D%22none%22%3E%3Cline%20x1%3D%222.38754%22%20y1%3D%220.612463%22%20x2%3D%2247.6424%22%20y2%3D%2245.8673%22%20stroke%3D%22black%22%20stroke-width%3D%221.09612%22%2F%3E%3Cline%20y1%3D%22-0.54806%22%20x2%3D%2264%22%20y2%3D%22-0.54806%22%20transform%3D%22matrix(-0.707103%200.70711%200.707103%200.70711%2047%201)%22%20stroke%3D%22black%22%20stroke-width%3D%221.09612%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @include mq(md) {
    top: 29px;
    right: 31px;
    width: 24px;
    height: 24px;
  }

  @include mq(lg) {
    top: 54px;
    right: 59px;
    width: 45px;
    height: 45px;
  }
}

.videoModal__content {
  width: 100%;
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
}

.videoModal__heading {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  @include fz(20);
  @include lh(31, 26);
  @include font_secondary;

  letter-spacing: 1.3px;

  @include mq(md) {
    @include fz(24);
    @include lh(29, 26);

    letter-spacing: 1.5px;
  }

  @include mq(lg) {
    @include fz(40);

    letter-spacing: 2px;
  }
}
